<% collection.each do |item| %>
  <div id="directive_template_<%= item.id%>">
    <label onclick="javascript:alert($('#selected_source').html());void 0;">
      <%=item.alias || item.name %>
      <%=image_tag "add.png",:alt => "添加"%>
    </label>
  </div>
<% end %>
