.add {
    background: url("images/add.png");
}

.delete {
    background: url("images/delete.gif");
}

.refresh {
    background: url("images/refresh.gif");
}

.arrow_refresh {
    background: url("images/arrow_refresh.png");
}

.execute {
    background: url(images/icons.png) no-repeat -3px -245px !important;
}

.set_app_for_user {
    background: url(images/icons.png) no-repeat -3px -137px !important;
}

.clear {
    background: url("images/clear_all.png");
}

.view {
    background: url("images/view.png");
}

.edit {
    background: url("images/edit.png");
}

.admin_nav_menu table {
    margin-top: -55px;
}

.admin_nav_menu table tbody tr {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

.admin_nav_menu table tbody tr td div {
    font-size: 20px;
    font-weight: bolder;
}

.x-grid-row-selected {
    color: blue;
}
