/* Style for application.html.erb and admin.html.erb*/
body {
  font-size:9pt;
}

label {
  margin:8px 2px;
}

h2{
  /** block 标题 */
  text-align:center;
  font-size:10pt;
  font-weight:bolder;
  padding:4px;
  margin:0;
  background-color:#888888;
  color:#FFF;
}

h2 a:link, h2 a:visited, h2 a:active{
  color:#FFF;
}

h2 a:hover{
  color:#000;
}

fieldset {
  margin:30px;
  border-radius: 10px;
}

fieldset legend{
  font-weight:bolder;
}

form table td.label{
  font-weight:bolder;
  text-align:right;
  padding: 0 20px;
}

form table td.label{
  text-align:left;
  padding: 0 20px;
}

ul.list{
  padding:0;
  margin: 0;
}

ul.list li{
  list-style:none;
  padding:2px 8px;
  border-bottom: #bbbbbb 1px solid;
}

ul.pointable li:hover,ul.pointable li:hover{
  background-color:#9966cc;
}

table.list {
  width: 100%;
}

table.list thead tr th , table.list tbody tr td{
  border-bottom: 1px solid black;
}

#navleft{
  float:left;
  width:35%;
  height:500px;
  background-color:#eeeeee;
}

#zone{
  float:left;
  width:64%;
  background-color:white;
  height:500px;
  padding:4px;
}

#zone #source{
  float:left;
  width:45%;
  padding:0 8px
}

.draggable{
  list-style:none;
  line-height:35px;
  background-color:yellow;
  padding:2px 6px;
  margin:4px 0;
  font-weight:bolder;
}


#zone #selected_source{
  float:left;
  width: 45%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

ul.errors{
  border:1px dotted grey;
  padding:4px;
}

ul.errors li{
  font-weight:bolder;
  list-style:none;
  margin:8px;
  background-color:yellow;
  color:red;
}

.clear {
  clear:both;
}

#selected_source { min-height: 18em; padding: 1%;} 
#selected_source h4 { line-height: 16px; margin: 0 0 0.4em; }
#selected_source h4 .ui-icon { float: left; }

/** 定义提示信息格式 */
#msg-div {
    position: fixed;
    left: 35%;
    top: 0;
    width: 300px;
    z-index: 20000;
}

#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    padding: 10px 15px;
    color: #555;
}
