/* Style for application.html.erb and admin.html.erb*/
body {
    font-size:10pt;
}

#navleft{
    float:left;
    width:30%;
    background-color:red;
    height:500px;
}

#zone{
    float:left;
    width:70%;
    background-color:green;
    height:500px;
}

.clear {
    clear:both;
}