<div id="menu">
  <ul>
  <% @apps.each{|app| %>
    <li><%=link_to app, app_path(app),:remote => true %></li>
  <% } %>
  </ul>
</div>
<div id="app" class="clear">
  <%=render "/apps/app", :app => @apps.first  %>
  <div class="clear"></div>
</div>
