  <legend><%=resource.new_record? ? "新增" : "修改"%>软件</legend>
  <%- form_for("#{resource_instance_name.to_s.downcase}",
      resource,
      :url => resource.new_record? ? collection_url : resource_url(resource),
      :html => { :method => (resource.new_record? ? "post" : "put") },
      :remote => true) do|f| %>
    <div class="errors" style="padding:8px"></div>
    <%=f.hidden_field :app_id, :value => params[:app_id] %>
    软件名称：<%=f.text_field :name %>    
    <%=f.submit '提交' %>
    <input type="reset" value="取消"
      onclick="$('#softwares fieldset').fadeOut(100);" />
  <% end %>

