<p>hi，<%= @resource.email %>!</p>

<p>这是一封密码重置的邮件</p>
<p>如果这是您自己请求的，可以点击下面的链接来重新设定您的代码</p>
<p>如果您没有在登录页面上进行过重置密码的操作，那可能是有人企图尝试使用您的帐号，通常，这并不意味着您的帐号已经有危险，但是如果多次遇到此类情况，请与管理员李福( lifu@taobao.com )联系</p>

<p><%= link_to '重置我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您不想重置密码，可以直接忽略本邮件，您的密码依然是之前的那个</p>

