<div id="operations">
  <h2>操作列表</h2>
  <ul class="list" style="background-color:#bbb">
  <% parent.operations.each do |operation|%>
    <li box-href="<%=operation_path(operation.id) %>">
      <%=render 'operations/item', :operation => operation %>
    </li>
  <% end %>
  </ul>
</div>

